<div class="flex flex-col h-full">

  <header class="flex items-center p-2 z-10">
    <menu-button class="sm:hidden mr-2"></menu-button>
    <h1 class="text-3xl text-gray-600 flex-1 text-center ">Agregar Producto</h1>
  </header>

  <div class="border-t mb-1"></div>

  <main class="flex-grow my-2 overflow-y-auto bg-slate-100">
    <section class="pt-1">


      <div class="px-8 py-6 rounded-2xl bg-white shadow-lg max-w-lg mx-auto">

        <form [formGroup]="productForm" class="login100-form space-y-4" (ngSubmit)="addNewProduct()">

          <div class=" wrap-input100">
            <span class="label-input100">Nombre</span>
            <input class="input100" type="text" placeholder="Nombre del Producto" formControlName="name">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100">
            <span class="label-input100">Marca</span>
            <input class="input100" type="text" placeholder="Marca" formControlName="brand">
            <span class="focus-input100"></span>
          </div>

          <div class=" wrap-input100">
            <span class="label-input100">Precio de compra</span>
            <input class="input100" type="number" min="0" placeholder="Precio" formControlName="priceBuy">
            <span class="focus-input100"></span>
          </div>

          <div class=" wrap-input100">
            <span class="label-input100">Precio de venta</span>
            <input class="input100" type="number" min="0" placeholder="Precio al publico" formControlName="priceSale">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100">
            <span class="label-input100">Talla</span>
            <input class="input100" type="text" placeholder="Numero o tamaño" formControlName="size">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100">
            <span class="label-input100">Stock</span>
            <input class="input100" type="number" min="1" placeholder="Cantidad de producto" formControlName="stock">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100">
            <span class="label-input100">URL de imagen</span>
            <input class="input100" type="text" placeholder="URL" formControlName="imageUrl">
            <span class="focus-input100"></span>
          </div>

          <div class="text-right p-t-8"></div>

          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" type="submit" [disabled]="productForm.invalid">
                Agregar
              </button>
            </div>
          </div>
        </form>
      </div>



    </section>
  </main>
</div>




